<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamezorck.forensicasq">

    <!-- ===== Permissions (Forensic acquisition) ===== -->

    <!-- Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Call logs -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!-- SMS (best-effort) -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- (Optional αλλά ασφαλές) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Δηλώνουμε ότι ΔΕΝ απαιτείται τηλεφωνικό hardware -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- ================================================= -->

    <application
        android:allowBackup="false"
        android:label="Forensic Acquisition"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForensicAsq">

        <!-- ===== Main / Launcher Activity ===== -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_paths" />
        </provider>

    </application>

</manifest>
